[Unit]
Description=Slack Standups Bot

[Service]
ExecStart=/home/sinan/Projects/mudur/lib/index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/sinan/Projects/mudur

[Install]
WantedBy=multi-user.target